<a href="https://colab.research.google.com/github/MutugiNdega/Electric-Car-Usage/blob/main/Electric_Car_Usage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.0 Import our Libraries

In [9]:
#importing our pandas library
import pandas as pd

#importing our numpy library
import numpy as np

### 1.1 Load our dataset and previewing it

In [10]:
df = pd.read_csv('http://bit.ly/autolib_dataset')
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

##1.2 Cleaning our data

In [11]:
#looking at the shape and columns of our data
df.shape

(5000, 25)

In [12]:
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

### 1.2.1 Validity

In [ ]:
#dropping the columns that are unneeded
df.drop(['Cars', 'Charge Slots','Charging Status','Displayed comment','Geo point','Scheduled at','year','month','Slots'], axis = 1, inplace = True)

In [15]:
df.head(2)

                     Address  Bluecar counter  ...  hour  minute
0        2 Avenue de Suffren                0  ...    11      43
1  145 Rue Raymond Losserand                6  ...     7      24

[2 rows x 16 columns]

### 1.2.2 Accuracy

In [ ]:
#From an overview of the dataset, it is accurate.

### 1.2.3 Completeness

In [17]:
#checking for null values
df.isnull().sum()

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Station type           0
Status                 0
Subscription status    0
day                    0
hour                   0
minute                 0
dtype: int64

### 1.2.4 Consistency

In [18]:
#checking for duplicates
df.duplicated().sum()

0

### 1.2.5 Uniformity

In [19]:
df = df.rename(columns=str.lower)
df.head(1)

               address  bluecar counter  utilib counter  ...  day hour minute
0  2 Avenue de Suffren                0               0  ...    8   11     43

[1 rows x 16 columns]

## 1.3 Exporting the cleaned dataset

In [20]:
df.to_csv('Blue_Car.csv',index=False)

## 1.4 Data Analysis

### 1.4.1 Research Question

In [45]:
#Identify the most popular hour of the day for picking up a shared electric car(Blue Car),
#in the city of Paris over the month of April 2018
#
df.loc[(df['bluecar counter'] == 0) & (df['city'] == 'Paris')]['hour'].value_counts().sort_values(ascending = False).head(2)

2     54
21    52
Name: hour, dtype: int64

### 1.4.2 Most popular hour for returning cars

In [32]:
#To return the most frequent/popular hour for returning cars, we use mode() 
#This will return all the most occurring hours
#df['hour'].value_counts().idxmax()
#
df.hour.mode()

0    21
dtype: int64

### 1.4.3 Most popular station overall

In [39]:
#To get n most frequent values, we subset .value_counts() function and grab the index
#So, to get the top most frequent/popular station, n=1
#
n=1
df['public name'].value_counts()[:n].index.tolist()

['Paris/Porte de Montrouge/8']

### 1.4.4 Most popular station at the most popular picking hour

In [36]:
#Getting the mode of one occurence based on another
#Since hour has data type int, we map the values to string
#
(df['public name'].map(str) + ' - ' + df['hour'].map(str)).mode()[0]

'Paris/Paradis/28 - 20'

### 1.4.5 Postal code that is most popular for picking up Blue Cars

In [38]:
#Does the most popular station belong to that postal code overall
#
(df['postal code'].map(str) + ' - ' + df['bluecar counter'].map(str)).mode()[0]

'75008 - 0'

## 1.5 General Conclusion

### From the data analysis above, we have identified that the most popular hours fro the Electric Car Company are the 2nd and 21st hours of the days of the month of April 2018 in the city of Paris.